[submodule "libs/RE-Engine-Lib"]
	path = libs/RE-Engine-Lib
	url = https://github.com/PieceMetal/RE-Engine-Lib.git
[submodule "GDeflateNet"]
	path = GDeflateNet
	url = https://github.com/neptuwunium/GDeflateNet.git
